{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Ticket Booker - Event</title>
</head>

<body>
    <nav>
        <ul class="nav-ul">
            <li class="nav-li"><a href="{% url 'events' %}">Home</a></li>
            <li class="nav-li"><a href="{% url 'account' %}">My tickets</a></li>
            <li class="nav-li" style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>

    <main>
        <h2>{{event.name}}</h1>
            <ul>
                <li>Date & Time: {{event.date}}</li>
                <li>Tickets left: {{tickets}}</li>
            </ul>
            <form class='purchase-form' id='purchase' action="{% url 'purchase' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="event" value="{{event.id}}">
                <label for="ntickets">No. of tickets</label>
                <input type="text" id="ntickets" name="ntickets" /><br />
                <input type="submit" value="Buy" />
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    </main>
</body>

</html>